
/*
    Start - Custom Form Area
    Use @supports for progressive enhancement
 */
.form-container {
    color: #333;
}

.form-container .error {
    color:red;
    font-size: 0.875em;
}

.form-container input:invalid textarea:valid {
    border: .5px solid red;
}

.form-container input:valid textarea:valid {
    border: .5px solid green;
}

.form-container, input, textarea, select, option, button, label {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.form-container fieldset {
    max-width: 40em;
    padding: 4px;
    margin: 2em auto;
    border-radius: 25px;
    padding: 20px;
    background-image: linear-gradient(180deg, #B57EDC 10%, #4e73df 100%);
}

.form-container legend {
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #B57EDC;
    background-color: #B57EDC;
}

.form-container input, output, textarea, select, button {
    box-sizing: border-box;
    padding: 0.2em 0.4em;
    margin: 0.2em 0;
    border-radius: 25px;
}

/*.form-container button {
     max-width: 9em;
     padding: 0.2em 2em;
     background-color: white;
     box-shadow: 0 2px 0 #bbb;
     cursor: pointer;
     border-style: none;
     height: 40px;
 }*/

.form-container label {
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
}

.form-container input:focus + label, textarea:focus + label, select:focus + label {
    color: #2e59d9;
}

.form-container input:checked + label {
    font-weight: bold;
}

/* fallback 30%/70% float layout */
.form-container input, output, textarea, select, button{
    clear: both;
    float: right;
    width: 70%;
    margin: 5px;
}

.form-container button {
    max-width: 9em;
    padding: 0.2em 2em;
    background-color: white;
    box-shadow: 0 2px 0 #bbb;
    cursor: pointer;
    border-style: none;
    height: 40px;
    margin-top: 20px;
}

.form-container label {
    float: left;
    text-align: right;
    padding: 0.25em 1em 0 0;
}

@supports (display: grid) {
    .formgrid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 0.3em 0.6em;
        grid-auto-flow: dense;
        align-items: center;
    }

    .formgrid label {
        grid-column: 1;
        width: auto;
        padding: 0;
        margin: 0;
    }

    .formgrid input, output, textarea, select, button {
        grid-column: 2 / 3;
        width: auto;
        margin: 0;
    }
}
/*
    End - Custom Form Area
 */