
.error {
    color:red;
    font-size: 0.875em;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}

.bg-register-image {
    background: url("https://images.unsplash.com/photo-1476234251651-f353703a034d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80/");
}

.bg-login-image {
    background: url("/img/dog_reading.jpg");
}

#logo{
    width: 50px;
}

.centered{
    text-align: center;
    color: white;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.center{
    text-align: center;
}

.text-white{
    color: white;
}

.no-deco{
    text-decoration: none;
}

.lav-btn{
    background-image: linear-gradient(180deg, #B57EDC 10%, #4e73df 100%);
    border-color: #4e73df;
    border-style: none;
}

/*
    Start - Accordion Example Styles
 */

.input-group {
    margin-top: 20px;
    margin-bottom: 10px;
}

.panel {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, .9)!important;
    border: solid 2px #ccc;
}

.panel-heading {
    background-color: #8AFFDF!important;
}

#accordion_search_bar {
    border: solid 2px #ccc;
}

.btn-default {
    border: solid 1.5px #ccc;
}

.fa-search {
    font-size: 1.3em;
}

.fa-paw {
    font-size: 1.4em;
    color: #6B7F7A;
}

.button-override{
    border-style: none;
}
/*
    End - Accordion Example Styles
 */