body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	padding: 10px 30px;
	vertical-align: top;
	text-align: left;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

#sectionGrid {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: auto auto 20%;
	column-gap: 30px;
	grid-template-areas: "column0 column1 column2"
							"name0 name1 name2"
							"rate0 rate1 rate2";

}

.specificRecipe{
	display:flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	background-color:#EFF7E0;;
}

.rateAndIngredients{
	display: flex;
	margin: auto;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	background-color: #EFF7E0;
	margin-top: -2%;
	padding-top: 50px;
}
h3{
	margin-block-start: 0;
}

#recipeName{
	display: block;
	font-size: 12px;
	vertical-align: top;
	background-color: #EFF7E0;
	padding-top: -50%;
}

#rating{
	display: flex;
	align-items: center;
	max-width: 50%;

}

#rating img{
	display: inline-flex;
	min-width: 50%;
	max-width: 50%;
	max-height: 100%;
}

#numberOfIngredients{
	display: inline-flex;
	font-size: 12px;
}

#recipePic {
	display: flex;
	justify-content: center;
	background-color: #EFF7E0;
}

#recipePic img{
	width: auto;
	min-width: 100px;
	max-width: 100%;
	background-color: #EFF7E0;
}

#Table-main-content{
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	padding: 10px 30px;
	vertical-align: top;
	text-align: left;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	min-width: 320px;
}

#tableSectionGrid {
	display: grid;
	margin-left: -2%;
	max-width: 100%;
	grid-template-columns: 100px repeat(3, 33%);
	grid-template-rows: 190px repeat(5, 60px);
	column-gap: 30px;
	grid-template-areas: ". pic0 pic1 pic2"
							"titles name0 name1 name2"
							"titles type0 type1 type2"
							"titles rate0 rate1 rate2"
							"titles ingredients0 ingredients1 ingredients2"
							"titles rating0 rating1 rating2";
}

#titles{
	grid-area: titles;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

/*	*/
/*	justify-items: center;*/
/*	align-items: center;*/
/*	text-align: center;*/
/*}*/

/*#text-name{*/
/*	margin-top: 35px;*/
/*	grid-row: 2/3;*/
/*}*/

/*#text-type{*/
/*	margin-top: 35px;*/
/*	grid-row: 3/4;*/
/*}*/

/*#text-time{*/
/*	margin-top: 35px;*/
/*	grid-row: 4/5;*/
/*}*/
/*#text-ingred{*/
/*	margin-top: 35px;*/
/*	grid-row: 5/6;*/
/*}*/
/*#text-rating{*/
/*	margin-top: 35px;*/
/*	grid-row: 6/7;*/
/*}*/

#tableSpecificRecipe{
	display: flex;
	flex-direction: column;
	text-align: center;
}

#tableRecipePic{
	display: flex;
	justify-content: center;

}

#tableRecipePic img{
	width: auto;
	min-width: 100px;
	max-width: 100%;
	background-color: #EFF7E0;
}

#tableRating{
	display: flex;
	justify-content: center;
	align-items: center;

}

#tableRating img{
	max-height: 35px;
	min-width: 100px;
	max-width: 100%;

}

p{
	text-align: center;
}

div:nth-child(even){
	background-color: #D3D3D3;
}
