body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

/* Grid Styles */
#grid {
	display: grid;
	grid-auto-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
	/*
	grid-auto-rows: minmax(150px, 1fr);
	grid-auto-flow: row dense;
	*/
}

.recipes_flex {
	width: 80%;
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.recipes_flex img {
	flex: 1;
}

.recipes_flex .recipe-image img {
	/*
	width: 100%;
	height: 100%;
	*/
	margin: 0 auto;
}