:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


body{
    margin-left: 8%;
    margin-right: 8%;
    display: grid;
    grid-template-rows: 3vh auto 5vh;
    grid-template-areas: "header"
                        
                        "main"
                        "footer";

    /* 
    
    
    row-gap: 20px;
    column-gap: 50px; */
}

header{
    display: flex;
    grid-area: header;
    justify-content: left;
}

footer{
    display: block;
    grid-area: footer;
    align-content: center;
}

#foot_text {
    max-height: 20%;
}

#te-logo{
    min-width: 250px;
    max-width: 250px;
}

.headline{
    grid-area: name;
    font-stretch: expanded;
}

main{
    display:block;
    grid-area: main;
}

#student-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: "quote quote sidebar-pic"
                        "profile profile contact"
                        "flex_area flex_area flex_area"
                        ;
    row-gap: 20px;
    column-gap: 50px;
}

#student-quote {
    display: flex;
    grid-area: quote;
    align-self: center;
}

#student-picture{
    display: flex;
    grid-area: sidebar-pic;
    justify-content: center; /*using justify-content fixed the image sizing*/
     
 }
 
 #student-picture img{
     width: auto;
     min-height: 350px;
     max-height: 350px;
     border-radius: 1500px;
 }

 #student-profile{
    display: flex;
    grid-area: profile;
    flex-direction: column;
 }

 #student-contact{
    display: block;
    grid-area: contact;
    justify-self: center;
    font-style: italic;
}

#experience{
    grid-area: flex_area;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div#experience div{
    width: 33%;
    padding: 1em;
}

h1,h2,p{
    color: #505355;
}

h3{
    color: #00ADEE;
}

h1{
    font-size: 70px;
}

/* #experience{
    padding-bottom: 20px;;
    display: grid;
    grid-area: flex_area;
    column-gap: 50px;
    row-gap: 20px;
    /* display: grid;
    grid-area: flex_area;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ; 

}

#experience > div:nth-child(1){
    grid-column: 1/2;
    
}

#experience > div:nth-child(2){
    grid-column: 2/3;
    
}

#experience > div:nth-child(3){
    grid-column: 3/4;
    
}

#experience > div:nth-child(4){
    grid-column: 2/3;
    border: 4px solid blue;
}
 */




