:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  aside{
    position: fixed;
    height: 100%;
    max-height: 93vh;
    max-width: 200px;
    border-right: 1px solid var(--light-blue);
   
  }

  aside img{
    position: static;
    margin: auto;
    min-height: 125px;
    max-height: 100%;
    max-width: 75%;
    min-width: 125px;
    display: block;
  }

  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 60px;
  }

  li {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px;
    padding-bottom: 15px;
    width: 160px;
    text-decoration: none;
    border-bottom: 1px solid var(--light-blue);
  
  }

  a{
    color: var(--blue) !important;
    text-decoration: none;
  }

  main{
      display: block;
      width: 80vh;
      padding-left: 200px;
  }

  main header img{
    
    margin: 0;
    min-height:125px;
    max-height: 125px;
    max-width: 50%;
    display: block;
  }

  main img{
    height: 400px;
    width: 1100px;
    padding-left: 20px;
    padding-bottom: 5px;
  }

  .subheading{
    padding-left: 32px;
    font-weight: bold;
    font-size: smaller;
  }

  main section{
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(3, 375px);

  }

  #what-we-do{
    display: inline-block;
    padding: 20px;
  }

  #our-work{
    display: inline-block;
    padding: 20px;
    border-left: 1px solid var(--light-green);
  }

  .fas{
    color: var(--green);
  }

  main section h2{
    color: var(--green);
  }

  #contact-us{
    display: inline-block;
    padding: 20px;
    border-left: 1px solid var(--light-green);
    
  }
  footer{
    display: block;
    margin-left: 20px;
  }
  
  